
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-T2k {
  padding: 17.1rem 7.3rem 25.3rem 9.2rem;
  width: 100%;
  position: relative;
  background-position: -79.2458rem 0.5488rem;
  box-sizing: border-box;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #36454f;
  background-size: 174.737% 130.689%;
  background-image: url('REPLACE_IMAGE:85426edf3511b1b2089ea6c3e3ff157468c5e9e7');
  overflow: hidden;

  .jack-reacher-ESp {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 0rem 15rem 6.6rem;
    font-size: 12rem;
    font-weight: 700;
    line-height: 1.3025;
    color: #ffffff;
    font-family: DM Sans, 'Source Sans Pro';
  }
  .frame-3-E5S {
    margin: 0rem 20.6rem 4.8rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .about-reacher-Q1r {
      line-height: 1.3025;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 3.7rem;
      font-size: 4.8rem;
      font-weight: 700;
    }
    .jack-reacher-created-by-lee-child-is-a-fictional-ex-military-police-major-standing-at-6-feet-5-inches-he-embodies-physical-strength-intelligence-and-a-strong-moral-code-a-nomadic-loner-reacher-roams-from-place-to-place-using-his-combat-skills-and-analytical-mind-to-right-wrongs-and-dispense-justice-sg8 {
      max-width: 106.9rem;
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 1.3025;
      color: #ffffff;
      font-family: DM Sans, 'Source Sans Pro';
      flex-shrink: 0;
    }
  }
  .frame-4-aU4 {
    font-weight: 400;
    color: #ffffff;
    justify-content: center;
    border: solid 0.2rem #ffffff;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 25.4rem;
    height: 8.3rem;
    font-size: 2.8rem;
    white-space: nowrap;
    align-items: center;
    line-height: 1.3025;
    display: flex;
    margin: 0rem 102.1rem 23.9rem 0rem;
    font-family: DM Sans, 'Source Sans Pro';
  }
  .gallery-5p8 {
    flex-shrink: 0;
    margin: 0rem 1.8rem 8rem 0rem;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.3025;
    color: #ffffff;
    font-family: DM Sans, 'Source Sans Pro';
    white-space: nowrap;
  }
  .auto-group-xghd-TJt {
    align-items: flex-start;
    flex-shrink: 0;
    margin-bottom: 18.7rem;
    width: 100%;
    height: 94.2rem;
    display: flex;
    column-gap: 3rem;

    .auto-group-liuu-Wnx {
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      width: 40.5rem;

      .frame-5-on4 {
        height: 59.7rem;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:f5b63455a617639d27d30d571af0d0872aa31acf');
        background-color: #ffffff;
        background-size: 100% 100%;
        background-position: center;
        flex-shrink: 0;
        width: 100%;
        overflow: hidden;
        position: relative;
      }
      .frame-9-sG8 {
        background-position: center;
        background-image: url('REPLACE_IMAGE:2471a4a8d6ce9d5e0e6b6138431634041133628a');
        background-color: #ffffff;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        flex-shrink: 0;
        width: 100%;
        height: 34.5rem;
        overflow: hidden;
        position: relative;
      }
    }
    .auto-group-7rpk-L9i {
      width: 40.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-6-4rQ {
        width: 100%;
        position: relative;
        margin-bottom: 2.8rem;
        height: 38.7rem;
        overflow: hidden;
        background-color: #ffffff;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:fce413420b0c265fa3b66d5d7ea1d584e25a25a5');
        flex-shrink: 0;
      }
      .frame-8-jBr {
        height: 52.5rem;
        background-color: #ffffff;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:5feb95e56009ddc08a721ea033a855886dcc8ae2');
        width: 100%;
        overflow: hidden;
        position: relative;
        background-position: center;
        flex-shrink: 0;
      }
    }
    .auto-group-ylgp-2Rr {
      flex-shrink: 0;
      width: 40.5rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .frame-7-YQC {
        height: 49rem;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:dbc563aa27a6b96589d501b84d86e0b2bd6a7b3b');
        flex-shrink: 0;
        margin-bottom: 2.8rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: #ffffff;
      }
      .frame-10-cur {
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:12c68f136bb86216e9df8be9f62b7e829f7fa418');
        flex-shrink: 0;
        position: relative;
        height: 42.4rem;
        overflow: hidden;
        background-color: #ffffff;
        background-repeat: no-repeat;
        width: 100%;
      }
    }
  }
  .skills-iT6 {
    white-space: nowrap;
    flex-shrink: 0;
    margin: 0rem 1.8rem 8rem 0rem;
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.3025;
    color: #ffffff;
    font-family: DM Sans, 'Source Sans Pro';
  }
  .frame-11-AK6 {
    box-sizing: border-box;
    padding: 5.5rem 12.65rem 5.4rem 12.75rem;
    width: calc(100% - 22rem);
    height: 23.5rem;
    border: solid 0.2rem #0b0c0a;
    background-color: rgba(6, 47, 56, 0.6000000238);
    flex-shrink: 0;
    margin: 0rem 11.9rem 0rem 10.1rem;

    .frame-9-QDS {
      width: 100%;
      height: 100%;
      display: flex;
      column-gap: 15.7rem;
      align-items: center;

      .frame-12-77r {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        align-items: center;

        .item-99-3XJ {
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 7.2rem;
          font-weight: 700;
          line-height: 1.3025;
        }
        .power-Yix {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #b7b7b7;
        }
      }
      .frame-13-foa {
        height: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .item-90-Rnk {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 7.2rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #ffffff;
        }
        .muscles-a9r {
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #b7b7b7;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
      }
      .frame-14-hkG {
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;
        align-items: center;
        display: flex;

        .item-80-G2g {
          font-size: 7.2rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #ffffff;
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
        }
        .intelligence-c6Y {
          font-family: DM Sans, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 1.3025;
          color: #b7b7b7;
        }
      }
    }
  }
  .desktop-4-T2k-bg {
    width: 144rem;
    height: 295.5rem;
    position: relative;
    background-image: url('REPLACE_IMAGE:85426edf3511b1b2089ea6c3e3ff157468c5e9e7');
  }
}
